@import "tailwindcss";

/* ==========================================
   GLOBAL THEME
========================================== */

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --font-body: var(--font-inter);
  --font-heading: var(--font-heading);
}

/* ==========================================
   GLOBAL STYLES
========================================== */

html,
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Root */
#__next {
  background: #000000;
}

/* ==========================================
   SCROLLBAR
========================================== */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ==========================================
   SELECTION
========================================== */

::selection {
  background: rgba(214, 185, 140, 0.35);
  color: white;
}

/* ==========================================
   IMAGES
========================================== */

img {
  display: block;
  max-width: 100%;
}

/* ==========================================
   LINKS
========================================== */

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading), serif;
}